<!DOCTYPE html>
<div class="consult">
  <router-link to="/consult">
    <button data-text="咨询" class="btn btn-primary btn-ghost btn-border-stroke btn-text-float-up">
      <div class="btn-borders">
        <div class="border-top"></div>
        <div class="border-right"></div>
        <div class="border-bottom"></div>
        <div class="border-left"></div>
      </div>
      <span class="btn-text">
        <i class="el-icon-s-comment"></i>
        <p>咨询入口</p>
      </span>
    </button>
  </router-link>
</div>
