<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div class="home">
    <consult-component></consult-component>
    <el-row>
      <el-col :span="24">
        <div class="grid-content why">
          <p class=" bg-purple">为什么要申请专利？</p>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <div class="grid-content answer">
          <div class="answers p1">
            <div>
              <p>独占专利！</p>
              <br />
              <p>只要申请专利成功，</p>
              <p>该专利就具有独占性，只有你才拥有！</p>
            </div>
          </div>
          <div class="answers p2">
            <div>
              <p>资产获取！</p>
              <br />
              <p>专利申请成功之后，</p>
              <p>专利可以通过授权使用</p>
              <p>以及转让等途径获取资产！</p>
            </div>
          </div>
          <div class="answers p3">
            <div>
              <p>提升价值！</p>
              <br />
              <p>通过申请专利，</p>
              <p>可以提升企业或者个人价值！</p>
            </div>
          </div>
          <div class="answers p4">
            <div>More...</div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <div class="grid-content apply">
          <p class=" bg-purple">如何申请一个专利？</p>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <div class="grid-content applier">
          <div>
            <p>你需要做的事！</p>
          </div>
          <div>
            <p>1.准备相关内容</p>
            <p>发明人或设计人的姓名、地址</p>
            <p>专利的名称、所属技术领域、背景技术</p>
            <p>专利的内容、具体实施方式</p>
            <p>专利的相关技术特征</p>
            <p>专利的设计图</p>
            <p>如果文字就能够完整描述专利内容可以没有设计图</p>
          </div>
          <div>
            <p>2.进行申请</p>
            <p>上传相关说明文件</p>
            <p>填写申请信息</p>
          </div>
          <div>
            <p>3.等待申请结果</p>
            <p>在家等专利申请结果吧！</p>
          </div>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content web">
          <div>
            <p>我们帮你做的事！</p>
          </div>
          <div>
            <p>1.联系专利专家</p>
            <p>将相关说明等整理成正式文件</p>
            <p>对专利的材料进行补强</p>
            <p>完善专利申请的具体流程</p>
          </div>
          <div>
            <p>2.提交相关材料到国家知识产权局</p>
            <p>将相关材料通过专员提交到国知局</p>
          </div>
          <div>
            <p>3.实时追踪申请进行并提供反馈</p>
            <p>实时与国知局进行相关交流</p>
            <p>将专利的实时动态反馈给你</p>
          </div>
          <div>
            <p>4.获取相关证书并帮你邮递到家</p>
            <p>在专利申请通过的第一时间获取相关材料</p>
            <p>将材料帮你直接邮寄到家</p>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <div class="start">
        <p>如果你有创意，那么，赶快开始专利申请吧！</p>
        <el-button type="primary">马上申请</el-button>
      </div>
    </el-row>
  </div>
</body>

</html>
